//- Parameters
//- user, objs(p_name, b_name, displayname), isStaff, c_name

extends ../layout.pug

block title
	| #{c_name}

block contents 
	.container 
		nav.navbar
			h3.ms-4 #{c_name}

			if isStaff
				.text-end.me-4
					a.me-4.fs-5(href=`/categories/edit/${c_name}`) Edit
					a.me-4.fs-5(href=`/categories/delete/${c_name}`) Delete

		.mt-4
			.row.col-lg-12 
				.col.col-lg-6 
					p.ms-5 상품명
				.col.col-lg-2 
					p 게시자

			for obj in objs
				.row.col-lg-12
					.col.col-lg-6
						a.ms-5(href=`/products/product/${obj.p_name}`) #{obj.p_name}
					.col.col-lg-2 #{obj.displayname}